body {
  background-color: #ffffff;
}
.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-header {
  background-color: black;
  flex-basis: 250px;
  height: 1050px;
  color: #ffffff;
  font-style: normal;
  box-shadow: 0 0 10px #000000; /* Параметры тени */
  padding: 10px;
}
.name {
  text-transform: uppercase;
  font-size: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 10px;
  text-align: right;
}
.prof {
  text-transform: uppercase;
  font-size: 110%;
  letter-spacing: 5px;
  text-align: right;
}
.head_rot {
  transform: rotate(270deg);
  margin-top: 50%;
}
.contact_main {
  margin-top: 230%;
  font-style: normal;
}
.contact {
  font-size: 100%;
}
.contact_h {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.href {
  color: #ffffff;
  text-decoration: none;
}
.main {
  flex-basis: 600px;
  background-color: #ffffff;
  height: 1050px;
  box-shadow: 0 0 10px #000000; /* Параметры тени */
  padding: 10px;
}
.main_h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 150%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section {
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 95%;
}
h3 {
  text-transform: uppercase;
}
.exp {
  width: 30%;
  float: left;
}
.exp1 {
  width: 70%;
  float: right;
}
.section_skill {
  margin-left: 10%;
  margin-top: 25%;
  margin-right: 10%;
}

